.target {
  min-height: 110px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 5px;
  margin-top: 10px;
  margin-left: 30px;
}

.container {
  min-height: 110px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 5px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: #90EE90;
}

.result {
  margin-top: 1em;
}
